# Quartus II build artifacts
db/
incremental_db/
output_files/
simulation/
greybox_tmp/
*.qws
*.rpt
*.summary
*.smsg
*.pin
*.pof
*.sof
*.jdi
*.sld
*.qarlog
*.qar
*.done

# Editor / OS
.DS_Store
*.swp
*~
.vscode/
.idea/
build
.direnv
